@import '@/assets/styles/_vars.module';

.wrapper {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    gap: 20px;
}

.avatar {
    width: 72px;
    height: 72px;
    border-radius: 12px;
    background: $main-white;
    display: flex;
    align-items: center;
    justify-content: center;

    &_default {
        width: 40px;
        height: 40px;
    }
}

.info {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    gap: 5px;
}

.name, .email {
    color: $main-white;
}

.name {
    text-transform: capitalize;
    font-weight: 600;
    color: $main-white;
    font-size: 30px;
    line-height: 35px;
}

.email {
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    opacity: 0.5;
}