@import '@/assets/styles/_vars.module';

.link {
    text-decoration: none;
    color: $main-white;
    opacity: 0.5;
    transition: all .3s;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 25px;
    line-height: 35px;


    &:visited {
        color: $main-white;
    }

    &:hover {
        opacity: 1;
    }

    &_active {
        opacity: 1;
    }
}