.layout {
    width: 100%;
    max-width: 1440px;
    height: 100%;
    display: flex;
    box-sizing: border-box;
    gap: 80px;
    align-items: center;
    padding: 20px;
    margin: 0 auto;
}

.sidebar, .content {
    height: 100%;
}

.sidebar {
    width: 260px;
    flex-shrink: 0;
}

.content {
    width: 100%;
}