@import "@/assets/styles/_vars.module";

.button {
  gap: 16px;
  background: $grey-blue;
  border: 1px solid $light-blue;
  transition: all 0.3s;

  &:hover {
    background: $main-white;
  }
}

.text {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  color: $main-white;
  transition: all 0.3s;

  &_hovering {
    color: $grey-blue;
  }
}
