@import "@/assets/styles/_vars.module";

.button {
  background: $main-green;
  color: $main-white;
  transition: background-color 0.3s;

  &:hover {
    background: $dark-green;
    cursor: pointer;
  }
}
