$main-dark: #101010;
$dark-blue: #262a41;
$main-white: #fff;
$section-primary-bg: #f9fafc;
$main-green: #31ba96;
$dark-green: #4ba83d;
$main-grey: #eceff5;
$light-blue: #c5ddf0;
$grey-blue: #7297c4;
$backdrop-color: rgba(245, 255, 252, 0.25);
$main-red: #eb5757;
$dark-red: #dc3434;
