$main-dark: #101010;
$header-dark: #262a41;
$main-white: #fff;
$section-primary-bg: #F9FAFC;
$main-green: #31ba96;
$dark-green: #4BA83D;
$main-grey: #ECEFF5;
$light-blue: #C5DDF0;
$grey-blue: #7297C4;