@import '@/assets/styles/_vars.module';

.nav {
    width: 100%;
    height: fit-content;

    &_list {
        width: 100%;
        list-style-type: none;
        display: flex;
        flex-flow: column nowrap;
        gap: 30px;
    }
}